# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
notebooks/

# Raw data
data/raw/

# VSCode
.vscode/

# Local environments
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Documentation build artifacts
site/

# Reports
reports/